/*********************************************************************************/

/* Banner                                                                        */

/*********************************************************************************/

#banner {
  overflow: hidden;
  padding: 7em 0em 5em 0em;
  background: #202020;
  background-size: cover;
  text-align: center;
  color: rgba(255, 255, 255, .8);
}

#banner .title {
  margin-bottom: 1em;
  text-transform: uppercase !important;
}

#banner .title h2 {
  color: #FFF;
}

#banner .title .byline {
  color: rgba(255, 255, 255, .6);
}

#banner .button {
  margin-top: 3em;
  background: #009E2D !important;
}
