<div id="header-wrapper">
  <div id="header" class="container">
    <div id="logo">
      <h1><a routerLink="/home">Monday 5/11</a></h1>
    </div>
    <div id="menu">
      <ul>
        <li>
          <a routerLink="/home">Homepage</a>
        </li>
        <li>
          <a routerLink="/clients">Clients</a>
        </li>
        <li>
          <a routerLink="/landing">Landing</a>
        </li>
        <li>
          <a routerLink="/elements">Elements</a>
        </li>
      </ul>
    </div>
  </div>
</div>
