/*********************************************************************************/

/* Header                                                                        */

/*********************************************************************************/

#header-wrapper {
  background: #333333;
}

#header {
  position: relative;
  padding: 3em 0em;
}

/*********************************************************************************/

/* Logo                                                                          */

/*********************************************************************************/

#logo {
  position: absolute;
  top: 1em;
  left: 0;
}

#logo h1 {
  color: #FFF;
}

#logo a {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
}

/*********************************************************************************/

/* Menu                                                                          */

/*********************************************************************************/

#menu {
  position: absolute;
  top: 2em;
  right: 0;
}

#menu ul {
  display: inline-block;
}

#menu li {
  display: block;
  float: left;
  text-align: center;
}

#menu li a, #menu li span {
  padding: 1em 1.5em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #FFF;
}

#menu li:hover a, #menu li.active a, #menu li.active span {
  color: #FFF;
}

#menu .current_page_item a {
  background: #009E2D;
  color: #FFF;
}

#menu .icon {}
